{% load static %}
<div class="hidden md:flex flex-col justify-between bg-bg px-3 py-5 h-full w-full max-w-[240px]">

    <nav class="flex flex-col justify-between h-full">
        <div>
            {% include "components/nav-link.html" with url="/" img_url="/static/img/dashboard.svg" alt_text="Dashboard icon" text="Dashboard" %}
            {% include "components/nav-link.html" with url="/customers" img_url="/static/img/List.svg" alt_text="Lead List icon" text="Lead List" %}
            {% include "components/nav-link.html" with url="/" img_url="/static/img/Project.svg" alt_text="Dashboard icon" text="Projects" %}
        </div>

        <div class="flex flex-col gap-3">
            <div class="px-4">
                <button class="hover:cursor-pointer">
                    <img src="/static/img/colapse.svg" alt="Collapse icon">
                </button>
            </div>
            {% include "components/profile-dropdown.html" with url="/profile/" username="Elias Markson" user_role="Employee"%}
        </div>
    </nav>


    <footer class="border-top border-gray-light mt-2 pt-4 text-center text-gray-400">
        {% include 'core/footer.html' %}
    </footer>
</div>
