{% extends 'base.html' %}
{% load static %}

{% block title %}Lead {{ customer.name }}{% endblock %}

{% block body %}
{{ customer.id|json_script:"current-customer-id" }}
<div class="flex justify-between items-center p-2w-full">
    <div>
        <a class="text-text" href="/customers">&larr; Go Back</a>
    </div>
    <div class="flex justify-end items-center gap-4">
    <button title="Delete Customer" class="px-2 py-2 bg-error shrink-0 flex items-center gap-3 hover:cursor-pointer rounded-sm shadow-sm" id="deleteTrigger"><img src="{% static 'img/trash.svg' %}" alt="Trash Icon"></button>
    <button form="customerEditForm" type="submit" title="Save Changes" class="px-2 py-2 bg-bg shrink-0 flex items-center gap-3 hover:cursor-pointer rounded-sm shadow-sm" id="updateCustomer"><img src="{% static 'img/save.svg' %}" alt="Save Icon"></button>
    </div>
</div>

<div class="z-30 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 hidden flex flex-col p-4 rounded-lg bg-bg shadow gap-4" id="confirmModule">
    <div>
    <p>Are you sure you want to delete this customer?</p>
    <p><strong>This action cannot be undone.</strong></p>
    </div>
    <div class="flex justify-center gap-6 items-center">
        <button id="deleteCancel" class="px-3 py-2 border hover:cursor-pointer">Cancel</button>
        <form method="POST" action="{% url 'delete_customer' customer.id %}">
        {% csrf_token %}
        <button type="submit" id="deleteBtn" class="px-3 py-2 border border-error bg-error hover:cursor-pointer flex items-center gap-1">Delete <img src="{% static 'img/delete.svg' %}" alt="Delete Icon"></button>
        </form>
    </div>
</div>
<div class="z-20 bg-black opacity-5 absolute top-0 left-0 w-full h-full hidden" id="confirmOverlay"></div>

<section class="grid grid-cols-1 lg:grid-cols-[3fr_1fr] gap-5">
    <div class="bg-bg p-5 rounded-lg shadow">
            <form id="customerEditForm" class="space-y-4" action="" method="post">

            <h1 class="text-text text-4xl font-bold mb-4">
                <input class="w-min" type="text" placeholder="First Name" name="first_name" value="{{ customer.first_name }}">
                <input class="w-min" type="text" placeholder="Last Name" name="last_name" value="{{ customer.last_name }}">
            </h1>

            <section class="grid grid-cols-2 items-center gap-6 mb-4 p-2">
                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">Address:</label>
                    <input type="text" placeholder="Address" name="address"
                           value="{{ customer.address }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">City:</label>
                    <input type="text" placeholder="City" name="city"
                           value="{{ customer.city }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">State:</label>
                    <input type="text" placeholder="State" name="state"
                           value="{{ customer.state }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">Country:</label>
                    <input type="text" placeholder="Country" name="country"
                           value="{{ customer.country }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>
            </section>


            <section class="grid grid-cols-2 items-center gap-6 mb-4 p-2">
                <div class="flex flex-col">
                    <div id="createCompanyRelative" class="relative flex items-center justify-between">
                        <div>
                            <label class="text-sm font-medium text-text">Company:</label>
                        </div>
                        <div class=" items-center flex gap-4">
                            {% if customer.company_id %}
                                <a class="text-brand-500 hover:text-brand-600" href="/company/{{ customer.company_id }}">View</a>
                            {% endif %}

                            <button type="button" id="addCompany" class="text-xs p-1 px-1.5 leading-none rounded-full bg-brand-400 text-text hover:cursor-pointer">+</button>
                        </div>
                    </div>

                    <select name="company" class="border border-gray-300 rounded px-2 py-1">
                        <option value="">Select a Company</option>
                        {% for c in companies %}
                            <option value="{{ c.id }}" {% if customer.company_id == c.id %}selected{% endif %}>
                                {{ c.company_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">Phone:</label>
                    <input type="text" placeholder="Phone" name="phone_number"
                           value="{{ customer.phone_number }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>

                <div class="flex flex-col">
                    <label class="text-sm font-medium text-text">Email:</label>
                    <input type="text" placeholder="Email" name="email"
                           value="{{ customer.email }}"
                           class="border border-gray-300 rounded px-2 py-1">
                </div>


            </section>


            <section class="flex items-center gap-6 mb-4 p-2">
            <div class="flex gap-3 items-center">
            <label for="source">Source</label>
            <select class="pl-1 py-2 pr-3 bg-bg border-1 rounded-sm" name="source" id="source">
                {% for source in sources %}
                    <option value="{{ source.id }}"
                        {% if customer.source.id == source.id %}selected{% endif %}>
                        {{ source.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
            <div class="flex gap-3 items-center">
            <label for="lead_status">Lead Status</label>
            <select class="pl-1 py-2 pr-3 bg-bg border-1 rounded-sm" name="lead_status" id="lead_status">
                {% for status in lead_status %}
                    <option value="{{ status.id }}"
                        {% if customer.lead_status.id == status.id %}selected{% endif %}>
                        {{ status.name }}
                    </option>
                {% endfor %}
            </select>
            </div>
            </section>

            <!--
            <section>
            Projects Completed. Total Revenue from Client. Unpaid invoices
            </section>
            -->

            <section class="p-3 border border-dashed border-gray-300 rounded-sm bg-gray-50 shadow-inner">
                {{ request.user.id|json_script:"current-user-id" }}
                <h2 class="text-text text-2xl mb-4">Projects</h2>
                <div id="projectsContainer">
                {{ projects_count|json_script:"projects-length" }}
                {% for project in projects %}
                <div class="bg-bg border border-[#f7f7f7] shadow-sm rounded-sm p-4 mb-4">
                    <a href="/project/{{ project.id }}">
                    <div class="flex items-center justify-between">
                        <h2 class="text-3xl font-semibold mb-4 text-text">{{ project.name }}</h2>
                        <div>
                            {% if project.priority == 'low' %}
                                <img title="Low priority" src="{% static 'img/Default.svg' %}" alt="Low priority flag">
                            {% elif project.priority == 'medium' %}
                                <img title="Medium priority" src="{% static 'img/Medium.svg' %}" alt="Medium priority flag">
                            {% elif project.priority == 'high' %}
                                <img title="High priority" src="{% static 'img/High.svg' %}" alt="High priority flag">
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex gap-3">
                        <div class="flex gap-3 flex-col w-full">
                            {% if project.description %}
                            <div class="relative p-2 border border-gray-400 rounded-sm w-full">{{ project.description }} <p class="text-sm text-text bg-bg absolute top-[-22px] translate-y-1/2 left-[2px]">Description:</p></div>
                            {% endif %}
                            <div>
                            <p class="text-text text-lg mb-1">Users Contributed:</p>
                            <div class="flex gap-3 items-center">
                            {% for user in project.contributed.all %}
                                {% include 'components/user.html' %}
                            {% endfor %}
                            </div>
                            </div>
                        </div>
                        <div>
                            <p>Price: <strong>{{ project.price }}€</strong></p>
                        </div>
                    </div>
                    <div class="flex justify-between items-center mt-6">
                        <div>
                            <p>Project Stage: {{ project.stage.name }}</p>
                        </div>
                        <div>
                            <p class="text-gray-400">Updated At: {{ project.updated_at|date:"M d, Y" }}</p>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                </div>
                <div class="flex items-center gap-1 relative">
                    <hr class="w-full border-dashed border-gray-400">
                    <button type="button" id="addProjectBtn" title="Add Project" class="hover:cursor-pointer py-[2px] px-[9px] text-base rounded-full texxt-text bg-brand-400">+</button>
                </div>
            </section>

            <section class="flex flex-col">
                <label for="related_files" class="text-sm font-medium text-text">
                    Upload Files <span class="text-gray-400">(jpg, png, pdf)</span>
                </label>

                <input
                    type="file"
                    id="related_files"
                    name="files"
                    multiple
                    accept=".jpg, .jpeg, .png, .pdf"
                    class="border border-dashed border-gray-300 text-gray-300 text-center rounded-sm p-5"
                >
            </section>

        </form>
    </div>
    <div class="space-y-6">
    <div class="bg-bg p-5 rounded-lg shadow space-y-4 relative">
        <div class="flex items-center justify-between">
            <h2 class="text-xl">Assigned Employees</h2>
            <div class="relative" id="assignEmployeeRelative">
                <button id="assignBtn" title="Assign Employee" class="hover:cursor-pointer py-[2px] px-[9px] text-base rounded-full texxt-text bg-brand-400">+</button>
            </div>
        </div>
        <hr class="border-gray-200">
        <div id="assignedEmployeeContainer">
        {% for user in customer.assigned_to.all %}
            {% include 'components/user.html' %}
        {% endfor %}
        </div>
    </div>
    {% if project_total %}
    <div class="bg-bg p-5 rounded-lg shadow space-y-4">
        <div>
        <h2 class="mb-2 text-lg font-semibold">Customer Totals</h2>
        <hr>
        </div>
        <div id="projectsCosts">
        {% for project in projects %}
        <p>{{ project.name|truncatechars:20 }} - {{ project.price }}€</p>
        {% endfor %}
        </div>
        <hr class="border border-dashed border-gray-300">
        <div id="projectsCostsTotals">
        <p class="text-text">Total: <strong>{{ project_total }}€</strong></p>
        </div>
    </div>
    {% endif %}
    <div class="bg-bg p-5 rounded-lg shadow space-y-4">
        <h3>Attached Files</h3>
        <div class="space-y-2">
            {% for attachment in files %}
                <div class="flex items-center justify-between p-2 bg-gray-50">
                    <span class="text-sm truncate">{{ attachment.filename }}</span>

                    <a href="{{ attachment.file.url }}" target="_blank" class="text-brand-600 text-sm hover:underline">
                        Download
                    </a>
                </div>
            {% empty %}
                <p class="text-gray-500 text-sm">No files uploaded.</p>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
<div id="employeeOverlayBg" class="hidden z-10 absolute top-0 left-0 w-full h-full"></div>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/customer.js' %}"></script>
{% endblock %}