{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">

        <div class="p-5 rounded-lg bg-bg text-text shadow flex gap-4">
            <div class="overflow-hidden rounded-full bg-brand-400 p-3 shrink-0 flex items-center justify-center w-[60px] h-[60px]">
                <img src="{% static 'img/NewLead.svg' %}" width="30px" height="30px" alt="Icon">
            </div>
            <div class="flex flex-col gap-1 justify-center">
                <div class="text-xl">Customers</div>
                <div class="text-3xl font-bold">{{ stats.customers }}</div>
            </div>
        </div>

        <div class="p-5 rounded-lg bg-bg text-text shadow flex gap-4">
            <div class="overflow-hidden rounded-full bg-brand-400 p-3 shrink-0 flex items-center justify-center w-[60px] h-[60px]">
                <img src="{% static 'img/NewLead.svg' %}" width="30px" height="30px" alt="Icon">
            </div>
            <div class="flex flex-col gap-1 justify-center">
                <div class="text-xl">Projects</div>
                <div class="text-3xl font-bold">{{ stats.projects }}</div>
            </div>
        </div>

        <div class="p-5 rounded-lg bg-bg text-text shadow flex gap-4">
            <div class="overflow-hidden rounded-full bg-brand-400 p-3 shrink-0 flex items-center justify-center w-[60px] h-[60px]">
                <img src="{% static 'img/NewLead.svg' %}" width="30px" height="30px" alt="Icon">
            </div>
            <div class="flex flex-col gap-1 justify-center">
                <div class="text-xl">Total Revenue</div>
                <div class="text-3xl font-bold">{{ stats.revenue }} €</div>
            </div>
        </div>

    </section>

    <section class="grid lg:grid-cols-2 md:grid-cols-1 gap-4">
        {% include 'components/scheduled-tasks.html' with title="Scheduled Tasks" task_title="Team Meeting" task_date="Nov 3, 2025" task_time="10:00AM" %}
        {% include 'components/todo.html' %}
    </section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/todo.js' %}"></script>
{% endblock %}