<div class="relative group">
    <div class="flex gap-3 items-center w-full group-hover:shadow p-3">
        <div class="shrink-0 rounded-full overflow-hidden w-[50px] h-[50px]">
            <img src="{{ user.profile.avatar.url }}" alt="User Avatar">
        </div>
        <div class="flex items-center justify-between w-full" id="profile-quick-info">
            <div class="flex flex-col">
                <p class="text-text text-base">{{ user.username }}</p>
                <p class="text-sm text-gray-400">{{ user.groups.first.name }}</p>
            </div>
            <div>
                <img src="/static/img/ShortArrow.svg" style="rotate:180deg;" alt="arrow icon for dropdown">
            </div>
        </div>
    </div>
    <div class="hidden group-hover:block absolute left-0 top-[-200%] bg-bg p-4 z-60 border-1 border-gray-100 space-y-3">
        <div class="w-full pr-2">
            {% load static %}
            <a href="/settings" class="flex items-center gap-2 p-3 text-text"><img src="{% static 'img/Settings.svg' %}" alt="Settings Icon"><p class="text-nowrap">Profile Settings</p></a>
        </div>
        <hr>
        <div class="w-full">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit"
                        class="hover:cursor-pointer block rounded-lg px-4 py-3 bg-error text-bg w-full text-center hover:bg-error/80">
                    Logout
                </button>
            </form>
        </div>
    </div>
</div>


