<div class="bg-bg shadow rounded-lg p-4 space-y-4">
    <div class="py-3">
        <h2 class="text-3xl font-bold text-text">{{ title }}</h2>
    </div>
    <hr>
    <table class="table table-borderless w-full text-text text-lg">
        <thead class="text-left bg-brand-100">
            <tr>
                <th class="font-normal px-2 py-2">Title</th>
                <th class="font-normal px-2 py-2">Date</th>
                <th class="font-normal px-2 py-2">Start Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="px-2 py-2">{{ task_title }}</td>
                <td class="px-2 py-2">{{ task_date }}</td>
                <td class="px-2 py-2">{{ task_time }}</td>
            </tr>
        </tbody>
    </table>
</div>